.DS_Store
.project
vendor/curl
workflow
workspace/.pythonenv
src/build
src/Debug
src/Release
Makefile
Makefile.Debug
Makefile.Release
moc_predefs.h
moc_*.cpp
qrc_resources.cpp
.xcode
.qmake.stash
*.app
*.xcodeproj
*.plist
*.o
