.DS_Store
.project
vendor/curl
workflow
workspace/.pythonenv
src/build
src/Debug
src/Release
Makefile*
CMakeFiles
CMakeCache.txt
cmake_install.cmake
*_autogen
.ninja*
.qt
.rcc
moc_predefs.h
moc_*.cpp
qrc_resources.cpp
.xcode
.qmake.stash
*.app
*.xcodeproj
*.plist
*.o
